@model IEnumerable<MemberEditionViewModel>
@{
    ViewData["Title"] = "Members";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="container-fluid">
        <h3 class="page-title">Members</h3>
        <div class="row">
            <div class="col-md-12">
                <!-- BASIC TABLE -->
                <div class="panel">
                    <div class="panel-heading">                        
                        <a asp-action="Create" asp-controller="DashBoard" class="btn btn-info"><i class="fa fa-user"></i> New Member</a>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Picture</th>
                                    <th>Full Name</th>
                                    <th>Username</th>

                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var member in Model)
                                {
                                <tr>
                                    <td>@member.ID</td>
                                    <td></td>
                                    <td>@member.Fname @member.Lname</td>
                                    <td>@member.Email</td>

                                    <td> 
                                        <a asp-action="Edit" asp-controller="DashBoard" asp-route-id="@member.ID" class="btn btn-info"><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                                }
                                     
                                </tbody>
                        </table>
                    </div>
                </div>
                <!-- END BASIC TABLE -->
            </div>

        </div>
    </div>
</div>

